<div class="w-100">
  <div class="d-flex justify-content-between align-items-start pt-5 mx-5">
    <h1>Check-Ins</h1>
    <button class="btn btn-small btn-primary">
      <%= link_to "New", new_check_in_path, class: "text-white" %>
    </button>
  </div>

  <br />

  <table class="m-5">
    <tr>
      <th>Name</th>
      <th>Happiness (Role)</th>
      <th>Happiness (Company)</th>
      <th>Emotion</th>
      <th colspan="2">Comment</th>
    </tr>

    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= link_to check_in.name, check_in_path(check_in) %></td>
        <td><%= check_in.role_happiness %></td>
        <td><%= check_in.company_happiness %></td>
        <td><%= check_in.emotion %></td>
        <td><%= check_in.comment %></td>
        <td><%= link_to "Delete", check_in_path(check_in), method: "delete" %></td>
      </tr>
    <% end %>
  </table>
</div>